extends header.pug

block content
    div(style="padding: 10px")
        div(class="card")
            div(class="card-content")
                div(class="media")
                    div(class="media-left")
                        if (container.State.Status === "running")
                            i(class="fas fa-power-off fa-4x has-text-success")
                        else
                            i(class="fas fa-power-off fa-4x has-text-danger")
                    div(class="media-content")
                        p(class="title is-4") #{container.Name} 
                            small(class="is-size-6")
                                if (container.State.Status === "running")
                                    i(class="has-text-success") #{container.State.Status}
                                else
                                    i(class="has-text-danger") #{container.State.Status}
                        p(class="subtitle is-6") #{container.Path}
                div(class="content")
                    p 
                        i created on 
                        b #{createdOn} 
                        i at 
                        b #{createdTime}
                    p 
                        i started on 
                        b #{startedOn} 
                        i at 
                        b #{startedTime}
                    p 
                        i finished on 
                        b #{finishedOn} 
                        i at 
                        b #{finishedTime}
    div(class="columns" style="padding: 10px")
        div(class="column")
            div(class="card" style="padding: 10px")
                h2 
                    b Volumes
                div
                    p #{container.Mounts.Source}:#{container.Mounts.Destination}

        div(class="column")
            div(class="card" style="padding: 10px")
                h2 
                    b Ports
                div
                    each val in ports
                        span= val
                    

    div(style="padding: 10px")
        div(class="card" style="padding: 5px")
            h2
                b Logs
            div(class="has-background-grey" style="padding: 5px; margin-top: 2px")
                p(class="has-text-light" id="logs")
        
                            